@import "compass";
@import "compass/functions";
$backgroundColor: #000000;
$textColor: #232323;
$navColor: #232323;
// #232323 gray
/*
@font-face {
  font-family: "Helvetica Black";
  src: url(../assets/Helvetica-Black.otf) format: "opentype";
}

@font-face {
  font-family: "Campton";
  src: url(../assets/Campton-BoldDEMO.otf) format: "opentype";
}

@font-face {
  font-family: "Zona";
  src: url(../assets/Zona.otf) format: "opentype";
}*/

// @import '../assets/_mixins.scss';
// @include font-face("Helvetica Black", "../assets/Helvetica-Black.otf");

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  color: $textColor;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;

  // clouds gradient
  background-color: #ece9e6; // Old browsers
  @include filter-gradient(#ece9e6, #FFFFFF, horizontal); // IE6-9
  @include background-image(linear-gradient(left, #ece9e6 0%, #FFFFFF 100%));

  //sunset gradient
  // background-color: #ffb347; // Old browsers
  //     @include filter-gradient(#ffb347, #ffcc33 , horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #ffb347 0%, #ffcc33  100%));

  //dark purple gradient
  // background-color: #41295a; // Old browsers
  //     @include filter-gradient(#41295a, #2F0743 , horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #41295a 0%, #2F0743  100%));

  //twitch purple
  // background-color: #6441A5; // Old browsers
  //     @include filter-gradient(#6441A5, #2a0845, horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #6441A5 0%, #2a0845 100%));

  //pizlex usethis
  // background-color: #114357; // Old browsers
  //     @include filter-gradient(#114357, #F29492, horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #114357 0%, #F29492 100%));

  //royal blue
  // background-color: #141E30; // Old browsers
  //     @include filter-gradient(#141E30, #243B55, horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #141E30 0%, #243B55 100%));

  //dusk usethis maybe
  // background-color: #ffd89b; // Old browsers
  //     @include filter-gradient(#ffd89b, #19547b, horizontal); // IE6-9
  //     @include background-image(linear-gradient(left, #ffd89b 0%, #19547b 100%));
}

a {
  color: $navColor;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  section {
    min-height: 100%;

    h1 {
      display: inline-block;
      padding: 0.2em;
    }
    &.projects {
      color: black;
      // background-color: #41295a; // Old browsers
      // @include filter-gradient(#41295a, #2F0743 , horizontal); // IE6-9
      // @include background-image(linear-gradient(left, #41295a 0%, #2F0743  100%));
      background-image: url("../client/assets/cubes.png");
      background-attachment: fixed;
      a {
        color: white;
      }
    }
    &.skills {
      color: black;
      // background-color: #114357; // Old browsers
      // @include filter-gradient(#114357, #F29492, horizontal); // IE6-9
      // @include background-image(linear-gradient(left, #114357 0%, #F29492 100%));
      background-image: url("../client/assets/cubes.png");
      background-attachment: fixed;
      a {
        color: black;
      }
    }
    &.resume {
      color: black;
      // background-color: #141E30; // Old browsers
      // @include filter-gradient(#141E30, #243B55, horizontal); // IE6-9
      // @include background-image(linear-gradient(left, #141E30 0%, #243B55 100%));
      background-image: url("../client/assets/cubes.png");
      background-attachment: fixed;
    }
    &.about {
      min-height: 100%;
      color: black;
      a {
        color: black;
      }
    }


  }}

.home {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 35%;
  p {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 35%;
    margin: 0;
  }
}

.catchHeadline {
  font-family: "Helvetica Neue";
  font-weight: bold;

  font-size: 3em;
  &.ibuildapps {
    width: 100%;
    text-align: center;
    margin: 0;
    // padding-right: 70px;
  }
}

.name {
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-left: 120px;
  font-size: 22px;
  font-size: 1.4em;
}

header {
  background: black;
  top: 0%;
  color: $navColor;
  h2 {
    margin: 0;
    text-align: center;
    color: white;
  }
}

#stickyBanner {
  height: 90px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  a {
    margin: 0 1em;
  }
  &.topNav {
    a {
      color: white;
    }
  }
  &.bottomNav {
    margin-top: 40px;
  }
}

iframe {
  margin-top: 1em;
  margin-bottom: 2em;
}

.resume {
  width: 100%;
  text-align: center;
}

.socialIcons {
  position: fixed;
  right: 0%;
  bottom: 0%;
  margin: 0em 3em;
  z-index: 1000;
  img {
    margin-right: 0.2em;
  }
}

#whiteIcons {
  position: absolute;
  display: none;
  filter: invert(1);
  right: 0%;
  transform: scale(0.7);
  top: 27%;
}

.footer {
  position: fixed;
  width: 100%;
  text-align: right;
  bottom: 0%;
}

.single-project {
  display: flex;
  justify-content: space-between;
  h4 {
    font-weight: bold;
  }
  .leftColumn {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35%;
  }
  .rightColumn {
    padding: 2em;
    display: flex;
    width: 65%;
    left: 0%;
  }
  img {
    &.project1 {
      border: 0.7em solid #735eff;
    }
    &.project2 {
      border: 0.7em solid #f22626;
    }
    &.project3 {
      border: 0.7em solid #6dff8a;
    }
    border-radius: 10px;
    width: 100%;
    align-self: center;
  }
  .tech {
    font-size: 0.85em;
    color: gray;
  }
}

$contactFormWidth: 70%;

.aboutContainer {
  width: 100%;
  .aboutPics {
    width: 100%;
    text-align: center;
    span {
      padding: 0.4em;
    }
  }
  .blurbContactContainer {
    display: flex;
  }
  .aboutBlurb {
    padding-left: 7em;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: top;
    text-align: left;
  }
  .contact {
    display: inline;
    width: 50%;

  }
  label {
    width: $contactFormWidth;
    text-align: left;
  }
  input[type="text"] {
    width: $contactFormWidth;
    border: none;
    border-radius: 3px;
  }
  textarea {
    width: $contactFormWidth;
    border: none;
    border-radius: 3px;
  }
  .submit {
    width: $contactFormWidth;
    display: inline-block;
    // right: 0%;
  }
  input[type="submit"] {
    float: right;
  }
}

// down arrow animation
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  &:hover {
    cursor: pointer;
  }
}
.animated{
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-10px);}
  60% {-webkit-transform: translateY(-5px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-10px);}
  60% {-moz-transform: translateY(-5px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-10px);}
  60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

// Skills chart
svg {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-opacity: 0.5;
}
.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1px;
}
text {
    font-family: "Arial Black", Gadget, sans-serif;
    fill: black;
    font-weight: bold;
    font-size: 0.9em;
}

.xAxis .tick text{
    fill: black;
}
.grid .tick line{
    stroke: grey;
    stroke-dasharray: 5, 10;
    opacity: 0.7;
}
.grid path{
    stroke-width: 0;
}

.node circle {
    fill: #999;
}
.node--internal circle {
    fill: #555;
}
.node--internal text {
    font-size: 0.9em;
    text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
}
.node--leaf text {
    font-size: 0.9em;
    fill: white;
}
.ballG text {
    fill: white;
}

.shadow {
    -webkit-filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
    filter: drop-shadow( -1.5px -1.5px 1.5px #000 );
  }
